<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.0.2/dist/vue.global.js"></script>
    <script src="./app.js" defer></script>
    <link rel="stylesheet" href="./main.css">
    <title>Practicing Vue</title>
</head>

<body>
    <h1>
        Hello World
    </h1> 

    <div id="app">
        <h1>{{ title }} -- {{ age }} -- {{ area }}</h1>

        <!-- V-model modifiers -->

        <!-- Basic -->
        <input v-model="heading" placeholder="Write Something..">
        <h1>{{ heading }}</h1>

        <!-- Trim -->
        <h2>Heading Trim</h2>
        <input v-model.trim="headingTrim" placeholder="Write Something..">
        <h1>{{ headingTrim }}</h1>
        
        <!-- Lazy -->
        <h2>Heading Lazy</h2>
        <input v-model.lazy="headingLazy" placeholder="Write Something..">
        <h1>{{ headingLazy }}</h1>
        
        <!-- Number -->
        <h2>Heading Number</h2>
        <input v-model.number="headingNumber" placeholder="Write Something..">
        <h1>{{ headingNumber }}</h1>
        
        <ul>
            <li v-for="item in items" :key="item.id" >{{ item.label }}</li>
        </ul>

    </div>

</body>

</html>