<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.0.2/dist/vue.global.js"></script>
    <script src="./app.js" defer></script>
    <link rel="stylesheet" href="./main.css">
    <link rel="icon" href="https://img.icons8.com/color/48/000000/vue-js.png">
    <title>Vue Basics</title>
</head>

<body>

    <div id="app">
        <h1>{{ title }}</h1>

        <!-- Basic -->
        <input v-model="heading" placeholder="Write Something..">
        <h1>{{ heading }}</h1>
        
        <!-- Using v-for and binding key -->
        <h1>Iterating over an array</h1>
        <ul>
            <li v-for="item in items" :key="item.id" >{{ item.label }}</li>
        </ul>

        
        <!-- Adding Elements in an Array -->
        <h1>Adding elements in an Array</h1>
        <h3>Select Ice cream Flavours</h3>

        <label><input type="checkbox" v-model="itemArray" value="Vanilla">Vanilla</label> &nbsp;
        <label><input type="checkbox" v-model="itemArray" value="Strawberry">Strawberry</label> &nbsp;
        <label><input type="checkbox" v-model="itemArray" value="Chocolate">Chocolate</label> &nbsp;
        <label><input type="checkbox" v-model="itemArray" value="Butterscotch">Butterscotch</label> &nbsp;
    
        <ul>
            <li v-for="item in itemArray"> {{ item }} </li>
        </ul>

        
    </div>

</body>

</html>