body {
  background-color: #170f1e;
  font-family: system-ui, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  text-align: center;
}

ul{
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}
